Repository capitalone/Particle-Cloud-Framework, pull requests merged in 2019-01, with the labels that each got.

#18 Iam policy
  examples/particle/aws/iam/use_iam_policy/README.md
  examples/particle/aws/iam/use_iam_policy/use_iam_policy.py
  pcf/particle/aws/iam/__init__.py
  pcf/particle/aws/iam/iam_policy.py
  pcf/test/particle/aws/iam/test_iam_policy.py
  requirements.txt
Labels: new particle

#16 GCP Compute
  examples/particle/gcp/use_compute/README.md
  examples/particle/gcp/use_compute/example_compute.py
  examples/particle/gcp/use_storage/example_storage.py
  pcf/particle/aws/ec2/ec2_instance.py
  pcf/particle/gcp/compute/__init__.py
  pcf/particle/gcp/compute/compute.py
  pcf/test/particle/gcp/compute/__init__.py
  pcf/test/particle/gcp/compute/test_compute.py
  requirements.txt
  setup.py
Labels: new particle

#24 Iam role
  docs/source/pcf.particle.aws.iam.rst
  examples/particle/aws/iam/use_iam_role.py/README.md
  examples/particle/aws/iam/use_iam_role.py/use_iam_role.py
  examples/particle/aws/iam/use_iam_role.py/use_iam_role_with_policy.py
  pcf/particle/aws/iam/iam_role.py
  pcf/test/particle/aws/iam/__init__.py
  pcf/test/particle/aws/iam/test_iam_role.py
  pcf/test/particle/aws/iam/test_iam_role_with_policy.py
Labels: new particle

#8 Pcf max timeout in apply()
  pcf/core/particle.py
  pcf/core/pcf.py
  pcf/core/pcf_exceptions.py
  pcf/core/quasiparticle.py
  pcf/test/core/test_particle.py
  pcf/test/core/test_quasiparticle.py
Labels: new feature

#32 Iam role
  examples/particle/aws/iam/use_iam_role.py/use_iam_role.py
  examples/particle/aws/iam/use_iam_role.py/use_iam_role_with_policy.py
  pcf/particle/aws/iam/iam_role.py
  pcf/test/particle/aws/iam/test_iam_role.py
Labels: enhancement

#37 Adding KMS key particle + tests
  docs/source/particlelist.rst
  docs/source/pcf.particle.aws.kms.rst
  examples/particle/aws/kms/create_key_and_get_info.py
  pcf/particle/aws/kms/__init__.py
  pcf/particle/aws/kms/kms_key.py
  pcf/test/particle/aws/kms/__init__.py
  pcf/test/particle/aws/kms/test_kms_key.py
Labels: new particle

#14 Lambda extension
  pcf/core/pcf_exceptions.py
  pcf/extended_particles/__init__.py
  pcf/extended_particles/aws/__init__.py
  pcf/extended_particles/aws/lambda_function/__init__.py
  pcf/extended_particles/aws/lambda_function/lambda_python.py
Labels: new feature
